---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Digging into learning Astro by following the beginning tutorials</p>
</BaseLayout>



